*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fundo{
    border-radius: 0.5px;
    width: 1000px;
    height: 100px;
    background-color: black;
}